{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css', v='1') }}">
{% endblock %}
<html>
  <body>
      <div class="container">
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Avatar</th>
              <th scope="col">Login</th>
              <th scope="col">Last Post</th>
              <th scope="col">Activity</th>
              <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td><img src="{{url_for('static',filename = profile.profilePic)}}" style="width: 30%;height: auto;" alt=""></td>
                <td>{{profile.login}}</td>
                <td><a href="{{profile.lastpostUrl}}" target="blank">Show</a></td>
                <td>{{profile.isActive}}</td>
                {% if profile.isActive == 'Y' %}
                <td><a href="/api/profiles/{{profile.login}}/deactivate">X</a></td>
                {% else %}
                <td><a href="/api/profiles/{{profile.login}}/activate">Y</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>